#rec811591674 .t396__artboard {
  height: 790px;
  background-color: #153792;
}

#rec811591674 .t396__filter {
  height: 790px;
}

#rec811591674 .t396__carrier {
  height: 790px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .t396__artboard,
  #rec811591674 .t396__filter,
  #rec811591674 .t396__carrier {
    height: 710px;
  }

  #rec811591674 .t396__filter {
  }

  #rec811591674 .t396__carrier {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .t396__artboard,
  #rec811591674 .t396__filter,
  #rec811591674 .t396__carrier {
    height: 420px;
  }

  #rec811591674 .t396__filter {
  }

  #rec811591674 .t396__carrier {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .t396__artboard,
  #rec811591674 .t396__filter,
  #rec811591674 .t396__carrier {
    height: 400px;
  }

  #rec811591674 .t396__filter {
  }

  #rec811591674 .t396__carrier {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .t396__artboard,
  #rec811591674 .t396__filter,
  #rec811591674 .t396__carrier {
    height: 760px;
  }

  #rec811591674 .t396__filter {
  }

  #rec811591674 .t396__carrier {
    background-attachment: scroll;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895054728"] {
  z-index: 2;
  top: 60px;
  left: calc(50% - 600px + 240px);
  width: 720px;
}

#rec811591674 .tn-elem[data-elem-id="1728895054728"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895054728"] {
    top: 20px;
    left: calc(50% - 480px + 120px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895054728"] {
    top: 20px;
    left: calc(50% - 320px + 120px);
    width: 400px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895054728"] {
    top: 20px;
    left: calc(50% - 240px + 55px);
    width: 370px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895054728"] {
    top: 20px;
    left: calc(50% - 160px + -15px);
    width: 350px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895105470"] {
  z-index: 3;
  top: 379px;
  left: calc(50% - 600px + 602px);
  width: 544px;
}

#rec811591674 .tn-elem[data-elem-id="1728895105470"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895105470"] {
    top: 299px;
    left: calc(50% - 480px + 456px);
    width: 475px;
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895105470"] {
    top: 182px;
    left: calc(50% - 320px + 310px);
    width: 310px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895105470"] {
    top: 201px;
    left: calc(50% - 240px + 270px);
    width: 198px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895105470"] {
    top: 503px;
    left: calc(50% - 160px + 10px);
    width: 300px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895140967"] {
  z-index: 4;
  top: 201px;
  left: calc(50% - 600px + 148px);
  width: 248px;
}

#rec811591674 .tn-elem[data-elem-id="1728895140967"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895140967"] {
    top: 151px;
    left: calc(50% - 480px + 30px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895140967"] {
    top: 97px;
    left: calc(50% - 320px + 80px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895140967"] {
    top: 93px;
    left: calc(50% - 240px + 10px);
    width: 146px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895140967"] {
    top: 94px;
    left: calc(50% - 160px + 0px);
    width: 104px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895144543"] {
  z-index: 5;
  top: 201px;
  left: calc(50% - 600px + 476px);
  width: 248px;
}

#rec811591674 .tn-elem[data-elem-id="1728895144543"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895144543"] {
    top: 151px;
    left: calc(50% - 480px + 356px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895144543"] {
    top: 97px;
    left: calc(50% - 320px + 250px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895144543"] {
    top: 92px;
    left: calc(50% - 240px + 166px);
    width: 146px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895144543"] {
    top: 94px;
    left: calc(50% - 160px + 108px);
    width: 104px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895199134"] {
  z-index: 6;
  top: 325px;
  left: calc(50% - 600px + 54px);
  width: 493px;
}

#rec811591674 .tn-elem[data-elem-id="1728895199134"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895199134"] {
    top: 270px;
    left: calc(50% - 480px + 20px);
    width: 406px;
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895199134"] {
    top: 166px;
    left: calc(50% - 320px + 20px);
    width: 265px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895199134"] {
    top: 155px;
    left: calc(50% - 240px + 10px);
    width: 239px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895199134"] {
    top: 147px;
    left: calc(50% - 160px + 10px);
    width: 300px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895221318"] {
  color: #ffffff;
  z-index: 7;
  top: 325px;
  left: calc(50% - 600px + 602px);
  width: 560px;
}

#rec811591674 .tn-elem[data-elem-id="1728895221318"] .tn-atom {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895221318"] {
    top: 255px;
    left: calc(50% - 480px + 456px);
    width: 490px;
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895221318"] {
    top: 156px;
    left: calc(50% - 320px + 310px);
    width: 270px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895221318"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895221318"] {
    top: 154px;
    left: calc(50% - 240px + 270px);
    width: 198px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895221318"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895221318"] {
    top: 453px;
    left: calc(50% - 160px + 10px);
    width: 300px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895221318"] .tn-atom {
    font-size: 14px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895257956"] {
  color: #ffffff;
  z-index: 8;
  top: 721px;
  left: calc(50% - 600px + 602px);
  width: 560px;
}

#rec811591674 .tn-elem[data-elem-id="1728895257956"] .tn-atom {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895257956"] {
    top: 595px;
    left: calc(50% - 480px + 456px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895257956"] {
    top: 375px;
    left: calc(50% - 320px + 310px);
    width: 210px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895257956"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895257956"] {
    top: 333px;
    left: calc(50% - 240px + 269px);
    width: 190px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895257956"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895257956"] {
    top: 690px;
    left: calc(50% - 160px + 10px);
    width: 260px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895257956"] .tn-atom {
    font-size: 14px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895268055"] {
  color: transparent;
  background-image: linear-gradient(
    0.25turn,
    rgba(255, 252, 236, 1) 0%,
    rgba(255, 201, 139, 1) 100%
  );
  -webkit-background-clip: text;
  will-change: transform;
  z-index: 9;
  top: 753px;
  left: calc(50% - 600px + 602px);
  width: 560px;
}

#rec811591674 .tn-elem[data-elem-id="1728895268055"] .tn-atom {
  color: transparent;
  background-image: linear-gradient(
    0.25turn,
    rgba(255, 252, 236, 1) 0%,
    rgba(255, 201, 139, 1) 100%
  );
  -webkit-background-clip: text;
  will-change: transform;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895268055"] {
    top: 627px;
    left: calc(50% - 480px + 456px);
    width: 491px;
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895268055"] {
    top: 393px;
    left: calc(50% - 320px + 310px);
    width: 340px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895268055"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895268055"] {
    top: 353px;
    left: calc(50% - 240px + 269px);
    width: 200px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895268055"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895268055"] {
    top: 712px;
    left: calc(50% - 160px + 10px);
    width: 302px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895268055"] .tn-atom {
    font-size: 13px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895357245"] {
  color: #ffffff;
  z-index: 10;
  top: 670px;
  left: calc(50% - 600px + 54px);
  width: 560px;
}

#rec811591674 .tn-elem[data-elem-id="1728895357245"] .tn-atom {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895357245"] {
    top: 551px;
    left: calc(50% - 480px + 30px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895357245"] {
    top: 351px;
    left: calc(50% - 320px + 18px);
    width: 110px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895357245"] .tn-atom {
    font-size: 12px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895357245"] {
    top: 333px;
    left: calc(50% - 240px + 10px);
    width: 100px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895357245"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895357245"] {
    top: 344px;
    left: calc(50% - 160px + 10px);
    width: 170px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895357245"] .tn-atom {
    font-size: 14px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895589699"] {
  color: transparent;
  background-image: linear-gradient(
    0.25turn,
    rgba(255, 252, 236, 1) 0%,
    rgba(255, 201, 139, 1) 100%
  );
  -webkit-background-clip: text;
  will-change: transform;
  z-index: 11;
  top: 700px;
  left: calc(50% - 600px + 54px);
  width: 273px;
}

#rec811591674 .tn-elem[data-elem-id="1728895589699"] .tn-atom {
  color: transparent;
  background-image: linear-gradient(
    0.25turn,
    rgba(255, 252, 236, 1) 0%,
    rgba(255, 201, 139, 1) 100%
  );
  -webkit-background-clip: text;
  will-change: transform;
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895589699"] {
    top: 581px;
    left: calc(50% - 480px + 30px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895589699"] {
    top: 351px;
    left: calc(50% - 320px + 125px);
    width: 110px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895589699"] .tn-atom {
    font-size: 12px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895589699"] {
    top: 333px;
    left: calc(50% - 240px + 98px);
    width: 110px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895589699"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895589699"] {
    top: 369px;
    left: calc(50% - 160px + 10px);
    width: 160px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895589699"] .tn-atom {
    font-size: 15px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728895634758"] {
  color: #f2f5ff;
  z-index: 12;
  top: 740px;
  left: calc(50% - 600px + 54px);
  width: 560px;
}

#rec811591674 .tn-elem[data-elem-id="1728895634758"] .tn-atom {
  color: #f2f5ff;
  font-size: 12px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.6;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728895634758"] {
    top: 620px;
    left: calc(50% - 480px + 30px);
    width: 328px;
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728895634758"] {
    top: 373px;
    left: calc(50% - 320px + 18px);
    width: 270px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895634758"] .tn-atom {
    font-size: 8px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728895634758"] {
    top: 349px;
    left: calc(50% - 240px + 10px);
    width: 219px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895634758"] .tn-atom {
    font-size: 8px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728895634758"] {
    top: 395px;
    left: calc(50% - 160px + 10px);
    width: 270px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728895634758"] .tn-atom {
    font-size: 10px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728956834809"] {
  color: #143792;
  text-align: center;
  z-index: 13;
  top: 214px;
  left: calc(50% - 600px + 222px);
  width: 100px;
}

#rec811591674 .tn-elem[data-elem-id="1728956834809"] .tn-atom {
  color: #143792;
  font-size: 20px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728956834809"] {
    top: 164px;
    left: calc(50% - 480px + 104px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728956834809"] {
    top: 103px;
    left: calc(50% - 320px + 115px);
    width: 69px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956834809"] .tn-atom {
    font-size: 14px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728956834809"] {
    top: 98px;
    left: calc(50% - 240px + 53px);
    width: 59px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956834809"] .tn-atom {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728956834809"] {
    top: 100px;
    left: calc(50% - 160px + 2px);
  }

  #rec811591674 .tn-elem[data-elem-id="1728956834809"] .tn-atom {
    font-size: 10px;
    line-height: 1;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728956865105"] {
  color: #143792;
  text-align: center;
  z-index: 14;
  top: 242px;
  left: calc(50% - 600px + 187px);
  width: 170px;
}

#rec811591674 .tn-elem[data-elem-id="1728956865105"] .tn-atom {
  color: #143792;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.5;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728956865105"] {
    top: 192px;
    left: calc(50% - 480px + 69px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728956865105"] {
    top: 122px;
    left: calc(50% - 320px + 91px);
    width: 117px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956865105"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728956865105"] {
    top: 116px;
    left: calc(50% - 240px + 18px);
    width: 130px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956865105"] .tn-atom {
    font-size: 11px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728956865105"] {
    top: 112px;
    left: calc(50% - 160px + 2px);
    width: 100px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956865105"] .tn-atom {
    font-size: 10px;
    line-height: 1;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728956973875"] {
  color: #ffffff;
  text-align: center;
  z-index: 15;
  top: 214px;
  left: calc(50% - 600px + 540px);
  width: 120px;
}

#rec811591674 .tn-elem[data-elem-id="1728956973875"] .tn-atom {
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728956973875"] {
    top: 164px;
    left: calc(50% - 480px + 420px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728956973875"] {
    top: 103px;
    left: calc(50% - 320px + 279px);
    width: 82px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956973875"] .tn-atom {
    font-size: 14px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728956973875"] {
    top: 98px;
    left: calc(50% - 240px + 203px);
    width: 71px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956973875"] .tn-atom {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728956973875"] {
    top: 100px;
    left: calc(50% - 160px + 140px);
    width: 40px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956973875"] .tn-atom {
    font-size: 10px;
    line-height: 1;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728956973878"] {
  color: #f2f5ff;
  text-align: center;
  z-index: 16;
  top: 242px;
  left: calc(50% - 600px + 500px);
  width: 200px;
}

#rec811591674 .tn-elem[data-elem-id="1728956973878"] .tn-atom {
  color: #f2f5ff;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.5;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728956973878"] {
    top: 192px;
    left: calc(50% - 480px + 380px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728956973878"] {
    top: 122px;
    left: calc(50% - 320px + 251px);
    width: 137px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956973878"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728956973878"] {
    top: 116px;
    left: calc(50% - 240px + 179px);
    width: 120px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956973878"] .tn-atom {
    font-size: 11px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728956973878"] {
    top: 112px;
    left: calc(50% - 160px + 110px);
    width: 100px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728956973878"] .tn-atom {
    font-size: 10px;
    line-height: 1;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728957063092"] {
  z-index: 17;
  top: 200px;
  left: calc(50% - 600px + 804px);
  width: 248px;
}

#rec811591674 .tn-elem[data-elem-id="1728957063092"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728957063092"] {
    top: 150px;
    left: calc(50% - 480px + 682px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728957063092"] {
    top: 96px;
    left: calc(50% - 320px + 420px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728957063092"] {
    top: 92px;
    left: calc(50% - 240px + 322px);
    width: 146px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728957063092"] {
    top: 94px;
    left: calc(50% - 160px + 216px);
    width: 104px;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728957065726"] {
  color: #ffffff;
  text-align: center;
  z-index: 18;
  top: 213px;
  left: calc(50% - 600px + 868px);
  width: 120px;
}

#rec811591674 .tn-elem[data-elem-id="1728957065726"] .tn-atom {
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728957065726"] {
    top: 163px;
    left: calc(50% - 480px + 746px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728957065726"] {
    top: 102px;
    left: calc(50% - 320px + 449px);
    width: 82px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728957065726"] .tn-atom {
    font-size: 14px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728957065726"] {
    top: 98px;
    left: calc(50% - 240px + 359px);
    width: 71px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728957065726"] .tn-atom {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728957065726"] {
    top: 100px;
    left: calc(50% - 160px + 248px);
    width: 40px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728957065726"] .tn-atom {
    font-size: 10px;
    line-height: 1;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728957065730"] {
  color: #f2f5ff;
  text-align: center;
  z-index: 19;
  top: 241px;
  left: calc(50% - 600px + 828px);
  width: 200px;
}

#rec811591674 .tn-elem[data-elem-id="1728957065730"] .tn-atom {
  color: #f2f5ff;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.5;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec811591674 .tn-elem[data-elem-id="1728957065730"] {
    top: 191px;
    left: calc(50% - 480px + 706px);
  }
}

@media screen and (max-width: 959px) {
  #rec811591674 .tn-elem[data-elem-id="1728957065730"] {
    top: 121px;
    left: calc(50% - 320px + 421px);
    width: 137px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728957065730"] .tn-atom {
    font-size: 10px;
  }
}

@media screen and (max-width: 639px) {
  #rec811591674 .tn-elem[data-elem-id="1728957065730"] {
    top: 116px;
    left: calc(50% - 240px + 336px);
    width: 117px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728957065730"] .tn-atom {
    font-size: 11px;
  }
}

@media screen and (max-width: 479px) {
  #rec811591674 .tn-elem[data-elem-id="1728957065730"] {
    top: 112px;
    left: calc(50% - 160px + 218px);
    width: 100px;
  }

  #rec811591674 .tn-elem[data-elem-id="1728957065730"] .tn-atom {
    font-size: 10px;
    line-height: 1;
  }
}

#rec811591674 .tn-elem[data-elem-id="1728958173204"] {
  z-index: 20;
  top: 930px;
  left: calc(50% - 600px + -173px);
  width: 493px;
}

#rec811591674 .tn-elem[data-elem-id="1728958173204"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec811591674 .tn-elem[data-elem-id="1728958178531"] {
  z-index: 21;
  top: 1300px;
  left: calc(50% - 600px + -173px);
  width: 493px;
}

#rec811591674 .tn-elem[data-elem-id="1728958178531"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec811591674 .tn-elem[data-elem-id="1728958196513"] {
  z-index: 22;
  top: 930px;
  left: calc(50% - 600px + 420px);
  width: 544px;
}

#rec811591674 .tn-elem[data-elem-id="1728958196513"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec811591674 .tn-elem[data-elem-id="1728958278898"] {
  z-index: 23;
  top: 1280px;
  left: calc(50% - 600px + 420px);
  width: 544px;
}

#rec811591674 .tn-elem[data-elem-id="1728958278898"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}
